body{
  justify-content: flex-start;
  flex-direction:column;
  overflow-y: auto;
  position:relative;
}

#home{
  padding-top:50px;
}

.post{
  background:rgb(187, 187, 187);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 80%;
  display: block;
  flex-direction: column;
  align-items: center;
}

.post>a >*{
  margin: 3px;
}
ul{
  padding:0;
  list-style-type: none;
  display:flex;
  flex-direction: row;
  align-items:stretch;
}